<!DOCTYPE html>
<html>
<head>
  <title>Papdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.css">
</head>
<body>
<%= render :partial => "navigationbar" %>
<div id="MainContent" style="text-align: center">
<%= yield %>
</div>
<%= render :partial => "footbar"%>
</body>

</html>
